﻿################################################################################

# This .gitignore file was automatically created by Microsoft(R) Visual Studio.

################################################################################



/.vs
/.vscode
*.ipynb_checkpoints
*.egg-info
*/__pycache__
*.pyc
.coverage
/calibr8/build/lib/calibr8
/calibr8/dist
calibr8/calibr8/py.typed
*.json
Sandbox*.ipynb
